<div class="bg-prof"></div>
<div class="container prof-area">
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-10 pass_sec">
                  <div class="name">
                    <div class="sub-header">
                      <h4 class="d-inline">Chnage Password</h4>
                    </div>
                </div>
<div class="form_table">
    <form name="form"> 
<div class="reset_lock">
<i class="fa fa-lock" aria-hidden="true"></i>
<h3>Please change your password</h3>
</div>
             <table class="table reset">
      <tr>
      <td>Current Password</td>
      <td>
          <input type="password" value="" class="form-control" name="oldpassword"   [(ngModel)] = "oldpassword" placeholder="Current Password">
         
        </td>
      </tr>
      <tr>
      <td>New Password</td>
      <td>
          <input type="password" value="" class="form-control" name="username"   [(ngModel)] = "newpassword"  placeholder="New password">
                 </td>
      </tr>

      <tr>
      <td>Confirm Password</td>
      <td>
          <input type="password" value="" class="form-control" name="confirmPassword"  [(ngModel)] = "confirmPassword" placeholder="Confirm password">
        
        </td>
      </tr>  

</table>				
<button class="btn btn-primary" type="submit" (click)="ChangePass()"> Submit</button>  
</form>
              </div>
            </div>
    
  </div>
</div>