
 <div class="mcq_detail">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
                <div class="timer_sec">
                       
                        <h5>Username: {{username}}</h5>
                        <h5>RME Hub Basic Block Chain Test</h5>
                               
                              </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12"></div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="form_section">
   <h4>RULES & REGULATION</h4>
   <ul>
     <li>The Time Duration for the exam 20 mins.</li>
     <li>There is no negative Marking.</li>
     <li>Each question has exactly one correct answer.</li>
     <li>If you fail to submit the exam on Time, then it will be Auto-Submitted.</li>
     <li>If you leave to mark, A question's answer, it will be taken as Zero.</li>
     <li>You have to score atleast 15 marks out of 25 to <b>pass</b> in the Examination.</li>
     <li>Use of Mobile Phones, calculators, Pagers are Prohibited.</li>
     <li>You cannot leave the screen until you submit the exam if you attampt to cheat , you only have two attempts after that, exam will be automatically submitted and you would marked as fail.</li>
     </ul>
     <div class="buton_start">
     <a routerLink="/mcqpage"><button class="btn btn-primary" type="button" id="notification">
        Start RME Test
      </button></a>
      <a (click)="GoDashboard()"><button class="btn btn-primary" type="button" id="notification">
          Close
          </button></a>
       <!-- <button class="btn btn-primary" type="button" id="notification" >
          Start Test
        </button> -->
        
    </div></div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-12"></div>

  </div>
</div>
