<div class="row">
    <div class="col-lg-12">
            <div class="modal-content course_content_sec basicpage">


                <div *ngIf="basicstatus; else notshow">
                <a (click)="openExam()"><button class="btn btn-danger"><span class="blinking">Please Go Through RME Test</span></button></a>
        </div>
<ng-template #notshow>
        <div>      
 <a (click)="notlogin()"><button class="btn btn-danger"><span class="blinking">Please Go Through RME Test</span></button></a>
                </div>
        </ng-template>

       


                <div class="course_heading">
              <!-- Nav tabs -->
<div class="row">
            <!-- Tab panels -->
            <div class="tab-content vertical">
            <!--Panel 1-->
            <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
    
                <h1 class="ribbon">
                        <strong class="ribbon-content">Involvement of Digital technology in Real Estate
                                Industry</strong>
                     </h1>
                     
                    <img class="margin_head" src="assets/images/blockchain.jpg"/>
                    <p>Whether you’re looking to buy or rent a home or you’re an agent trying to sell
                        one, pulling up listings to browse on your phone or tablet is the norm these
                        days. But that’s just the tip of a huge iceberg that’s hitting the real estate world
                        as technology continues to play an impactful role in how both consumers and
                        industry professionals are approaching the market</p>
           
                <h1 class="ribbon">
                        <strong class="ribbon-content">How is Digital Technology transforming the real estate
                                industry?</strong>
                     </h1>
                        <div class="margin_top Industry">
                                <div class="row">
                                  <div class="col-lg-3 col-sm-12  col-xs-12" data-toggle="modal" data-target="#myModal">
                                    <div class="human_resources card-body card-body-cascade">
                                      <img src="assets/images/dp.png" >
                                      <h4>Creating Digital Presence</h4>
                                    </div>
                                  </div>
                                  <!--  -->
                                  <div class="col-lg-3 col-sm-12  col-xs-12" data-toggle="modal" data-target="#myModal1">
                                    <div class="human_resources">
                                      <img src="assets/images/ma.png">
                                      <h4>Mobile applications</h4>
                                    </div>
                                  </div>
                                  
                                  <!--  -->
                                  <div class="col-lg-3 col-sm-12  col-xs-12" data-toggle="modal" data-target="#myModal2">
                                    <div class="human_resources">
                                      <img src="assets/images/vt.png">
                                      <h4>3-D virtual tours </h4>
                                    </div>
                                  </div>

                                  <div class="col-lg-3 col-sm-12  col-xs-12" data-toggle="modal" data-target="#myModal3">
                                        <div class="human_resources">
                                          <img src="assets/images/dm.png">
                                          <h4>Digital Marketing </h4>
                                        </div>
                                      </div>
                                </div>
                    </div>
                      
                    <h1 class="ribbon">
                                   <strong class="ribbon-content">Understanding the process of implementation of block chain over real estate industry
                                                    </strong>
                                         </h1>

      <img class="margin_head" src="assets/images/blockchain9.jpg"/>
      <p>Many people think of block chain as the technology that powers
          bitcoin. While this was not its original purpose, block chain is capable
          of so much more. 
          </p>
          <p>Real estate is a massive industry that is still ripe for disruption and I
              believe the proliferation (rapid increase) of smart contracts could be
              a game changer.</p>
      
              <p>The blockchain is interesting because
                  it brings together economics
                  (movement of value), philosophy
                  (concepts of trust and roots in
                  libertarian (a person who believes in
                  free will) thinking) and advanced
                  technology (cryptography and
                  distributed ledger technology). Within
                  each, the research sub-topics as they apply to block chain are
                  endless. Looking into smart contracts is interesting because they form
                  the basis for many of the proposed real-world applications of the
                  blockchain.</p>
      
        <p>Despite the sound of the word, there's not just one block chain. The
            blockchain is shorthand for a whole suite of distributed ledger
            technologies that can be programmed to record and track anything
            of value, from financial transactions to medical records or even land
            titles. You might be thinking: we already have processes in place to
            track data. What's so special about block chain? Let's break down the
            reasons why block chain technology stands to revolutionize the way
            we interact with each other.</p>
      
    <h2>Reason 1 :- The way it Tracks and Stores Data.</h2>

    <div class="row">
            <div class="block">
            <div class="col-lg-9">
                    <p>Block chain stores
                            information in batches, called blocks, that are linked together in a
                            chronological fashion to form a
                            continuous line: metaphorically, a chain
                            of blocks.
                            If you make a change to the information
                            recorded in a block, you don't rewrite it.
                            Instead, the change is stored in a new
                            block showing that x changed to y at a
                            date and time. That's because block
                            chain is based on the centuries-old
                            method of the general financial ledger.
                            It's a non-destructive way to track data changes over time.</p>
            </div>
            <div class="col-lg-3">
                    <img class="img-responsive" src="assets/images/blockchain8.jpg"/>
            </div>
        </div>
    </div>

     
      
      
      
          <h3>Here's one example</h3>
      
          <p>Let's say there was a dispute between Anne and her brother Steve
              over who owns a piece of land that's been in the family for years.
              Because blockchain technology uses the ledger method, there is an
              entry in the ledger, every change of ownership of property is
              represented by a new entry in the ledger. Anne is the current owner
              and we can see history in the ledger. Now, here's where things get
              really interesting. Unlike the age-old ledger method - originally a book,
              then a database file stored on a single system - blockchain was
              designed to be decentralized and distributed across a large network
              of computers. </p>
      
              <p>This decentralizing of information reduces the ability for data
                  tampering and bring us to
                  
                 <h2>The second reason that makes blockchain</h2>
                 <p> unique, it creates trust in the data. Before a block can be added to
                  the chain, a few things have to happen. First, a cryptographic puzzle
                  must be solved, thus creating the block. Second, the computer that
                  solves the puzzle shares the solution to all of the other computers on 
                  BASIC BLOCKCHAIN COURSE 8  the network, this is called proof-of-work.</p>
                
                 
                  
                 <h2> Third, the network </h2>
                   <p>will then
                  verify this proof-of-work and if correct, the block will be added to the
                  chain. The combination of these complex math puzzles and
                  verification by many computers ensures that we can trust each and
                  every block on the chain. Because the network does the trust building
                  for us, we now have the opportunity to interact directly with our data
                  in real-time. 
                  </p>
      
                  <img class="margin_head" src="assets/images/blockchain7.jpg"/>
                  
                      <h1 class="ribbon">
                            <strong class="ribbon-content">And that brings us to the third reason blockchain technology is such a
                                    game changer: no more intermediaries.
                                    </strong>
                         </h1>              
                <img class="margin_head" src="assets/images/blockchain6.jpg"/>
      <p>Currently, when doing business with one another, we don't show the
            other person our financial or business records. Instead, we rely on trusted intermediaries, such as a bank or lawyer, to view our records,
            and keep that information confidential. These intermediaries build
            trust between the parties and are able to verify, for example, that "Yes,
            Anne is the rightful owner of this land". This approach limits exposure
            and risk, but also adds another step to the exchange, which means
            more time and money spent. If Anne's land title information was stored
            in a blockchain, she could cut out the middleman(lawyer), who would
            ordinarily confirm her information with Steve. As we now know, all
            blocks added to the chain have been verified to be true and can't
            be tampered with, so Anne can simply show Steve her land title
            information secured on the blockchain. Anne would save
            considerable time and money by cutting out the middleman.</p>

            <p>This type of trusted peer-to-peer interaction with our data can
                    revolutionize the way we access, verify and transact with one
                    another. And because blockchain is a type of technology and not a
                    single network, it can be implemented in many different ways. </p>


            <h2>Public Blockchains-</h2>
            <p>Some blockchains can be completely public
                    and open to everyone to view and access. </p>

            <h2>2. Private Blockchains-</h2>
            <p>Others can be closed to a select group of
                    authorized users- such as your company, a group of banks or
                    government agencies. 
                    </p>

        <h2> Hybrid public-private blockchains</h2>
        <p> In some, those
                with private access can see all the data, while the public can see only
                selections.</p>

<p>It is the combination of all these factors- de-centralizing of the data,
building trust in the data & allowing us to interact directly with one
another & the data- that gives blockchain technology the potential
to underpin many of the ways we interact with one another. In other </p>
<p>words, blockchain is a technology that allows people who don’t know
each other to trust a shared record of events.</p>

        <h1 class="ribbon">
                <strong class="ribbon-content">How Blockchain can introduce trust & security in
                        existing E-signature system
                        </strong>
             </h1>   
        <p>New stages are getting to be accessible to finish multiparty land
                exchanges, spare time and remain sorted out. From secure and lawful
                e-signatures to personal task lists to simple file sharing, this kind of
                innovation isn't just about enhancing productivity yet additionally
                changing how operators react to their customers. Moreover, this can
                be less trusted & riskier methods of authentication and validation
                which most of the real entities are adopting just because they are
                following the current technical trend. We are thankful for blockchain
                technology which enables entities to form trustful & riskfree deed in a
                form of smart contract.</p>


                <p>To provide our readers with a thorough understanding of what smart
                        contracts are and how exactly they impact the way modern
                        businesses make deals, we've prepared this guide.
                        </p>

                        <h1 class="ribbon">
                                <strong class="ribbon-content">The Centralized Business Model is
                                        Giving Way to Decentralization
                                        </strong>
                             </h1>   

<p>In the traditional centralized model of business relationships, there’s
always a third party that stands between the two parties that are
making a transaction and affirming the terms and conditions in a
contract. This third party may be a banking institution, a law
enforcement company, a government establishment, or some other
intermediary.</p>

<p>When building relationships within a centralized model, businesses are
        dependent on intermediaries, which puts customers at risk. Besides, 
        BASIC BLOCKCHAIN COURSE 11
        central systems can’t guarantee payments and implementation of
        contracts.
        The development of <span>blockchain technology</span>, which allows businesses
        to build decentralized models, opens new horizons for businesses to
        conduct transactions and make agreements. And one of the
        technologies that’s proposing an alternative to the traditional model
        is the smart contract.</p>



 
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Creating Digital Presence</h4>
                    </div>
                    <div class="modal-body">
                    <p>Websites: Websites make it simple for anybody to see inventory and
                            see what's accessible. Alongside photographs and point by point
                            descriptions of the properties, you can discover tax and purchase
                            history, ratings, and reviews. </p>
                    </div>
                   
                  </div>
                </div>
              </div>
            
            
              <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Mobile Applications</h4>
                        </div>
                        <div class="modal-body">
                        <p>Websites have applications as well — technology that keeps you
                                educated without doing a thing. You'll get notices about new
                                properties and postings that fit your search criteria. Furthermore,
                                applications can help with your financial plan and fast access to
                                specialists and property supervisors. </p>
                        </div>
                       
                      </div>
                    </div>
                  </div>
              
            
            
                  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">3 -D Virtual Tours</h4>
                            </div>
                            <div class="modal-body">
                            <p>Going past photographs, new programming enables purchasers and
                                    dealers to take a 3-D virtual voyage through a private or business
                                    property, influencing it to feel as though you were strolling through the
                                    space face to face. </p>
                            </div>
                           
                          </div>
                        </div>
                      </div>
            
            
            
                      
                  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Digital Marketing</h4>
                            </div>
                            <div class="modal-body">
                            <p>Strong inbound leads are a key feature to have a good number of
                                    sales closed on-floor. Digital Marketing has many ways to generate
                                    inbound leads. In a same parallel way, it creates a brand impression
                                    over the web. Many of the real estate players implement different
                                    ways of digital marketing such as social media marketing, e-mail
                                    marketing, search engine marketing. Like rest of the other businesses,
                                    real estate business is ready to adopt a digital process of project
                                    presentation. For creating such kind of presentation, we have found
                                    social media platforms on high priorities. In other ways, social media
                                    platforms are also found much suitable for well-targeted lead
                                    generation e.g. targeted by demographic category, targeted by
                                    geographic location, targeted by language and the most important
                                    is to set customized target according to the current market
                                    intelligence.</p>
                            </div>
                           
                          </div>
                        </div>
              </div>
</div>




          
       <!--  -->
            <div class="tab-pane fade" id="panel2" role="tabpanel">
                <h1 class="ribbon">
                        <strong class="ribbon-content">Understanding about the Blockchain Technology
                                </strong>
                     </h1>
                           
                            <img class="margin_head" src="assets/images/blockchain2.jpg"/>
            
                            <div class="row">
                                <div class="block">
                                <div class="col-lg-8">
                                    <h4>2.1 What is a block and function of a block?</h4>
                                    <p>A block is a bunch of transactions that have been added to the
                                            blockchain. A Blockchain starts from its genesis block and new blocks
                                            are appended periodically. Each block records executed
                                            transactions. The nodes collaborate to connect the blocks into a
                                            Blockchain, creating a ledger that cannot be changed backwardly
                                            without redoing a proof of work (POW).</p>
                                </div>
                                <div class="col-lg-4">
                                        <img class="img-responsive" src="assets/images/blockchain12.jpg"/>
                                </div>
                            </div></div>
                            


                            <div class="row">
                                    <div class="col-lg-4">
                                            <img class="img-responsive" src="assets/images/blockchain10.jpg"/>
                                    </div>
                                    <div class="col-lg-8">
                                            <h4>2.2 Understanding distributed ledger system.</h4> 
                                
                                            <p>A distributed ledger is a set of communication protocols that enable
                                                administratively decentralized, replicated databases. Distributed
                                                ledgers can provide an efficient and secure infrastructure for the
                                                issuance and exchange of digital assets. Their security, democratized
                                                control, and automation can have a transformational impact on
                                                industries ranging from capital markets to global trade.</p>
                                    </div>
                                </div>
                                


                                <div class="row">
                                        <div class="block">
                                        <div class="col-lg-8">
                                                <h4>2.3 Understanding peer-to-peer transactions.</h4>
                                    
                                                <p>All transactions happen electronically, with the system
                                                    automatically matching buyers and sellers without requiring a
                                                    middleman (referred to as person-to-person transactions).</p>
                                        </div>
                                        <div class="col-lg-4">
                                                <img class="img-responsive" src="assets/images/blockchain11.jpg"/>
                                        </div>
                                    </div>
                                </div>
            </div>

<!--  -->
            <div class="tab-pane fade" id="panel3" role="tabpanel">
                <h1 class="ribbon">
                        <strong class="ribbon-content">What’s a Smart Contract?
                                </strong>
                     </h1>
                
                <p>A smart contract is similar to a contract in the physical world, but it’s
                        digital and is represented by a tiny computer program stored inside a
                        blockchain.</p>
                
                        <p>More specifically, a smart contract is a piece of software that stores
                                rules for negotiating the terms of an agreement, automatically verifies
                                fulfillment, and then executes the agreed terms.
                                </p>
                
                
                <p>What’s the main idea of a smart contract? Since a smart contract
                removes reliance on a third party when establishing business relations,
                the parties making an agreement can transact directly with each
                other.</p>
                <p>Consider the example of a crowdfunding platform where product
                teams share their projects and collect money from supporters until a
                goal is reached.</p>
                <p>If such a platform is centralized – like Kickstarter, for instance – then it
                acts as a third party between product teams and supporters who
                donate their money. This means both sides need to trust Kickstarter
                and, in fact, pay an additional fee to Kickstarter to serve as an
                intermediary.</p>
                
                <img class="img-responsive" src="assets/images/blockchain5.jpg"/>
                
                <p>A smart contract, alternatively, can perform the same crowdfunding
                actions – <span>sharing projects</span>, <span>setting goals,</span> and <span>collecting donations</span> –
                but without a third party. Simply put, we can program a smart
                contract to execute all of these actions.</p>
                
                <img class="img-responsive" src="assets/images/blockchain4.jpg"/>
                
                <p>Since a smart contract is stored inside a blockchain where all data is
                stored in a distributed manner, no one is in control of the money. In a
                decentralized business model, smart contracts replace any other
                trusted third party. This leads to a valid question:</p>
                
                <h1 class="ribbon">
                        <strong class="ribbon-content">Why Trust a Smart Contract?
                                </strong>
                     </h1>
                
                <p>Smart contracts are designed and implemented within blockchains,
                and therefore they inherit some of the blockchain’s properties:</p>
                
                <h2>They’re immutable,</h2>
                <p> which means a smart contract can never be
                        changed and no one can tamper with or break a contract.
                </p>
                <h2>They’re distributed</h2>
                <p>which means that the outcome of the
                        contract is validated by everyone in the network, just like any
                        transaction on a blockchain. Distribution makes it impossible for
                        an attacker to force control to release funds, as all other
                        participants would detect such an attempt and mark it as
                        invalid</p>
                
                        <h1 class="ribbon">
                                <strong class="ribbon-content">How a Smart Contract Works?
                                        </strong>
                             </h1>
                <p>A smart contract is a program, or more simply put, code. The code
                behind a smart contract contains specific terms that are executed
                when triggered by specific agreed events.
                Let's consider an example of how a smart contract might work if Alice
                is renting an apartment in Los Angeles and Bob from New York is
                looking to rent an apartment for his journey there.</p>
                
                <h2>A Logically Behaved Algorithm</h2>
                
                <p>Typically, Alice and Bob would use some platform that unites hosts
                        and guests to agree on renting. This kind of platform would serve as a
                        third party and would certainly take responsibility for compliance with
                        the agreed terms. However, both Alice and Bob would be charged a
                        fee by the platform. Besides, if either of them failed to fulfill their 
                        BASIC BLOCKCHAIN COURSE 14
                        commitment, dispute resolution may be time-consuming and require
                        a detailed review.</p>
                
                        <p>If Alice and Bob instead make an agreement using a smart contract,
                                the smart contract will behave logically based on its algorithm and
                                will guarantee that all the agreed terms and conditions are fulfilled.
                                Immutability, which is in the DNA of a smart contract, won’t let Alice
                                or Bob cheat.</p>
                
                <h3>Thus, the following terms and events can be set out in a smart contract
                    between Alice and Bob:</h3> 
                    
                <table class="table">
                   <tr>
                       <td>1. Independent storage is created, where both Alice and Bob can
                            put value but can’t easily take out.</td>
                   </tr>
                   <tr>
                       <td>2. Bob puts money for rent in storage.</td>
                   </tr>
                   <tr>
                        <td>3. Alice puts the address and the code to her apartment in
                                storage.</td>
                    </tr>
                
                    <tr>
                            <td>4. Alice gets payment confirmation and Bob receives the address
                                    and apartment code.</td>
                        </tr>
                
                        <tr>
                                <td>5. If Bob comes to LA and the address and code provided by Alice
                                        are right, Alice gets the payment.</td>
                            </tr>
                
                            <tr>
                                    <td>6. If it appears that the address or code supplied by Alice are
                                            wrong, Bob gets his money back.</td>
                                </tr>
                
                                <tr>
                                        <td>7. If Bob doesn’t come to LA, Alice gets her liquidated damages
                                                payment and Bob gets the rest of what he paid.
                                                </td>
                                    </tr>
                                         
                                    <tr>
                                        <td>8. At the end of the agreement, the smart contract is considered
                                                fulfilled and remains stored in the blockchain network.</td>
                                    </tr>
                </table>     
                
                <img class="img-responsive" src="assets/images/blockchain3.jpg"/>
                <p>This set of conditions and events represents the most basic one-time
                    smart contract. Setting up terms in the code of a smart contract
                    ensures satisfactory fulfillment.</p>
                
                
                    <p>Overall contract fulfillment is guaranteed by the blockchain
                            technology itself, as a complete copy of the blockchain is publicly
                            stored by all network participants and the smart contract remains
                            immutable.</p>
                
                
                            <h1 class="ribbon">
                                    <strong class="ribbon-content">The Logic of the One-Size-Fits-All Smart
                                            Contract
                                            </strong>
                                 </h1>
                
                <p>Once Alice generates a smart contract that automatically and
                transparently works for her when renting out her apartment to Bob,
                she might think about creating a universal agreement for all further
                renters, so she doesn’t need to create a new smart contract for each
                new guest.</p>
                
                <p>With this universal agreement, anyone on the blockchain network can
                        rent Alice’s apartment by following the algorithm above: the potential
                        guest transfers rent payment, gets the address and apartment code,
                        and then Alice gets her payment if everything works according to the
                        contract terms for both sides.</p>
                
                
                      
                        <p>Moreover, smart contracts can be even more universal. We could
                                program a smart contract to be used not only by Alice but by any
                                person who wants to rent out his or her flat. And certainly, smart
                                contracts can contain more specific conditions, such as
                                automatically adjusted prices, discounts, partial payments, and
                                nearly any other imaginable option.
                                </p>
                
                                
                                <h1 class="ribbon">
                                        <strong class="ribbon-content">Smart Contract Benefits
                                                </strong>
                                     </h1>
                <p>Explicit programming algorithms in core and blockchain properties
                like decentralization, transparency, fraud resistance, and others make
                smart contracts a credible alternative for establishing business
                relations and performing transactions.</p>
                
                <p>As an alternative to traditional contracts with a central business
                        model, here are the benefits that smart contracts offer businesses:</p>
                
                        <h2>Direct dealings with customers</h2>
                        <p>Smart contracts remove the
                                need for intermediaries and allow for transparent, direct
                                relationships with customers.</p>
                
                        <h2>Resistance to failure.</h2> 
                        <p>Since businesses aren’t dependent on a
                                third party, no single person or entity is in control of data or
                                money. Decentralization means that even if any individual
                                leaves the blockchain network, the network will continue to
                                function with no loss of data or integrity.</p>  
                                
                                
                       <h2>More trust</h2>
                       <p>Business agreements are automatically executed
                            and enforced. Plus, these agreements are immutable and
                            therefore unbreakable.</p>
                       
                       <h2>Fraud reduction</h2>
                       <p> Since smart contracts are stored in a distributed
                            blockchain network, their outcome is validated by everyone in
                            that network. Therefore, no one can force control to release
                            other people’s funds or data, as all other blockchain participants
                            would spot this and mark such an attempt as invalid.</p>
                
                
                       <h2>Cost efficiency</h2>
                       <p>Eliminating intermediaries removes additional
                            fees, allowing businesses and their customers not only to interact
                            and transact directly but also to do so with low to no fees for
                            transactions.</p>
                
                       <h2>Record keeping</h2>
                       <p>All contract transactions are stored in
                            chronological order in the blockchain and can be accessed
                            along with the complete audit trail.</p>
                
                            <img class="img-responsive" src="assets/images/img13.jpg"/>
                
               </div>
<!--  -->
              <div class="tab-pane fade" id="panel4" role="tabpanel">
    
                <h5 class="my-2 h5">Panel 3</h5>
               </div>
<!--  -->

               <div class="tab-pane fade" id="panel5" role="tabpanel">
    
                <h5 class="my-2 h5">Panel 3</h5>
               </div>
<!--  -->
               <div class="tab-pane fade" id="panel6" role="tabpanel">
    
                <h5 class="my-2 h5">Panel 3</h5>
               </div>
<!--  -->
               <div class="tab-pane fade" id="panel7" role="tabpanel">
    
                <h5 class="my-2 h5">Panel 3</h5>
               </div>

               <!--  -->
            </div>
        </div>
</div></div>
<!--  -->
        <div class="right_tab_sec">
<ul class="nav  md-pills pills-primary flex-column" role="tablist">

                             <li (click) = "openExam()" class="nav-item nav-link btn btn-danger hidden-sm"  *ngIf="basicstatus; else notshow">
                                <a ><span class="blinking">Go Through RME Test</span> </a>
                                </li>
                                </ul>
                                      

                <ul class="nav  md-pills pills-primary flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab"><span>Digital Real Estate</span>
                                <img src="assets/images/real-estate.png"/>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel2" role="tab"><span>BlockChain Introduction</span>
                        <img src="assets/images/blockchain.png"/>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel3" role="tab"><span>Smart Contract</span>
                                <img src="assets/images/smart-contract.png"/>
                        </a>
                    </li>
                  

                   
                    </ul>
            </div>

    </div>
    <!-- Nav tabs -->
                
            </div>




                    