<div class="thank_page">
    


<div class="row">
  <div class="container">
    <div class="thanks_inner">
      <div class="marks">

      <div *ngIf="passStatus else show1"> 
        <img src="assets/passed.png">
      </div>



     </div> 
     <ng-template #show1>
       <div class="true">
        <img src="assets/fail.png">

      </div>
     </ng-template>




    </div>
      <h4>You have Successful Submitted RME Test</h4>
      <div class="thanks_man">
    <div class="back btn btn-primary" (click)="GoDashboard()"><i class="fa fa-angle-double-left"></i> GO BACK TO DASHBOARD</div>
  </div>
  </div>
</div>
</div>
