.thank_page img {
    margin: auto;
    padding: 20px;
    display: block;
}

.thank_page {
    background-color:#33b5e5;
    height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

.thank_page h4 {
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}
.thanks_man {
    margin: auto;
    display: table;
}
.thank_page h5{
    color:green;
}
.thanks_inner{padding: 10px;
    margin-top: 21px;
    width: 70%;
    margin: 50px auto;
    display: block;}


.back{text-align: center; margin-bottom: 50px;}