<div class="dashbaord_page">
    <div class="breadcrumbs">
        <div class="col-sm-12">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Browse</h1>
                </div>
            </div>
        </div>
    </div>


<div class="row">
  <div class="container">
    <img class="img-responsive" src="assets/images/ee.png"/>
  </div>
</div>
</div>

<div class="container">
        <h3 class="text-center p-4">Academy Section</h3>
        <div class="row">
      
        <div class="col-md-4 col-sm-12 ">
              <div class="card card-cascade narrower">
                <!-- Card image -->
                <div class="view view-cascade overlay">
                  <img class="card-img-top" src="assets/images/basic-home.jpg" alt="Card image cap">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
               <!-- Card content -->
              </div>
            </div>
      
          <div class="col-md-4 col-sm-12 ">
            <div class="card card-cascade narrower">
              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img class="card-img-top" src="assets/images/industry-home.jpg" alt="Card image cap">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
             <!-- Card content -->
             
            </div>
          </div>
      
          <!--  -->
      
          <div class="col-md-4 col-sm-12 ">
              <div class="card card-cascade narrower">
                <!-- Card image -->
                <div class="view view-cascade overlay">
                  <img class="card-img-top" src="assets/images/digital-home.jpg" alt="Card image cap">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
               <!-- Card content -->
               
              </div>
            </div>
        </div>
      </div>
      













      